* {
  all: unset;
  color: rgba(228, 228, 231, 1);
}

.monitor {
  padding: 4px 6px;
  border-radius: 12px;

  border: 3px solid rgba(39, 39, 42, 1);
  background: rgba(9, 9, 11, 0.65);
}

.workspace {
  padding: 4px 6px;
  border: 3px solid rgba(39, 39, 42, 0);
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;

  font-size: 16px;
  font-weight: 600;
}

.workspace:hover {
  padding: 4px 6px;
  border: 3px solid rgba(39, 39, 42, 0.7);
  background: rgba(39, 39, 42, 0.6);
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;

  font-size: 16px;
  font-weight: 600;
}

.workspace.active {
  padding: 4px 6px;
  border: 3px solid rgba(39, 39, 42, 0.5);
  background: rgba(39, 39, 42, 0.4);
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;

  font-size: 16px;
  font-weight: 600;
}

.client {
  margin: 12px 8px;
  border-radius: 8px;
  border: 2px solid rgba(39, 39, 42, 0.0);

  padding: 8px 12px;
  margin-top: 8px;

  transition: color, background;
  transition-duration: 0.3s;
}

.client.active {
  border-radius: 8px;
  border: 2px solid rgba(39, 39, 42, 0.2);
  background: rgba(39, 39, 42, 0.6);

  padding: 8px 12px;
  margin-top: 8px;

  transition: color, background;
  transition-duration: 0.3s;
}

.client:hover {
  border-radius: 8px;
  border: 2px solid rgba(39, 39, 42, 0.5);
  background: rgba(39, 39, 42, 0.4);

  padding: 8px 12px;
  margin-top: 8px;

  transition: color, background;
  transition-duration: 0.3s;
}

.client-image {
  all: unset;
  margin-top: 12px;
}

.launcher {
  padding: 16px;
  border: 3px solid rgba(39, 39, 42, 0.6);
  background: rgba(24, 24, 27, 0.8);
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;

  font-size: 16px;
  font-weight: 600;
}

.launcher-input {
  background: rgba(39, 39, 42, 0.2);

  padding: 8px 12px;
  margin-bottom: 12px;

  border: 3px solid rgba(39, 39, 42, 0.6);
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;
}

.launcher-input:focus-within {
  background: rgba(39, 39, 42, 0.4);

  padding: 8px 12px;
  margin-bottom: 12px;

  border: 3px solid rgba(39, 39, 42, 0.7);
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;
}

.launcher-results {
  all: unset;
}

.launcher-item {
  padding: 0 6px;
  border-radius: 8px;

  transition: color, background;
  transition-duration: 0.3s;
}

.launcher-item:hover {
  border-radius: 8px;
  background: rgba(39, 39, 42, 0.6);

  transition: color, background;
  transition-duration: 0.5s;
}

.launcher-exec {
  color: rgba(228, 228, 231, 0.4);
  font-weight: 400;
  font-size: 12px;
}

.launcher-key {
  color: rgba(228, 228, 231, 0.4);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.launcher-plugins {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.launcher-plugin {
  padding: 8px 12px;
  border-radius: 8px;

  border: 3px solid rgba(39, 39, 42, 0.4);
  background: rgba(9, 9, 11, 0.0);

  transition: color, background;
  transition-duration: 0.5s;
}

.launcher-plugin:hover {
  padding: 8px 12px;
  border-radius: 8px;

  border: 3px solid rgba(39, 39, 42, 0.6);
  background: rgba(9, 9, 11, 0.4);

  transition: color, background;
  transition-duration: 0.5s;
}
